html {
    background-color: #F9F9F9;
}

h1, h2, h3 {
    color: #46537C;
    font-family: "Rufina", serif;
    font-weight: 700;
}

h1 {
    font-size: 36pt;
}

img {
    border-radius: 30px;
}

h2 {
    font-size: 24px;
}

p,
li {
    color: #2a3349;
}

p,
li,
a {
    font-family: "Sarala", sans-serif;
}

a {
    color: #A64503;
    transition: all 200ms ease-in-out;
}

footer {
    color: #46537C;
    font-family: "Rufina", serif;
    font-size: 20pt;
}

.container {
    display: block;
    margin: 10px 0px 0px 50px;
}

.description {
    font-size: 14pt;
    width: 600px;
    text-align: justify;
}

.subtext {
    font-family: "Unica One", sans-serif;
}

.left {
    width: 600px;
    float: left;
    margin-top: 25px;
    margin-bottom: 50px;
}

.right {
    width: 600px;
    float: left;
    margin: 0px 0px 50px 50px;
}

.footerContainer {
    width: 80px;
    text-align: center;
    margin-top: 55px;
    padding: 10px 60px;
    display: block;
    transition: all 200ms ease-in-out;
}

/* 
font-family: "Sarala", sans-serif; 
font-family: "Unica One", sans-serif;
font-family: "Rufina", serif;
*/