html {
    background-color: #F9F9F9;
}

h1, h2, h3 {
    color: #46537C;
    font-family: "Rufina", serif;
    font-weight: 700;
}

h1 {
    font-size: 36pt;
}

img {
    border-radius: 30px;
    width: 100%;
}

h2 {
    font-size: 24px;
}

p {
    font-family: "Unica One", sans-serif;
}

header,
li {
    color: #2a3349;
}

header,
li,
a {
    font-family: "Sarala", sans-serif;
}

footer {
    color: #46537C;
    font-family: "Rufina", serif;
    font-size: 20pt;
}

.container {
    display: block;
    max-width: 1300px;
    /* margin-top: 50px;
    margin-bottom: 50px; */
    margin: 50px auto;
    background-color: #F9F9F9;
}

/* .top {
    width: 100%;
} */

.description {
    font-size: 14pt;
    width: 100%;
    text-align: justify;
}

a.card-text {
    color: #A64503;
}

.card p {
    font-family: "Unica One", sans-serif;
}

.hoveredLink {
    color: #A64503;
    transition: all 200ms ease-in-out;
}

.left {
    width: 100%;
    background-color: #F9F9F9;
    float: left;
    margin-top: 25px;
    margin-bottom: 50px;
}

.right {
    width: 100%;
    background-color: #F9F9F9;
    float: left;
    margin: 0px 0px 50px 50px;
}

.footerContainer {
    text-align: center;
    background-color: #F9F9F9;
    margin-top: 55px;
    padding: 10px 60px;
    display: block;
    transition: all 200ms ease-in-out;
}

/* 
font-family: "Sarala", sans-serif; 
font-family: "Unica One", sans-serif;
font-family: "Rufina", serif;
*/