@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Short+Stack&display=swap');

:root {
    --heading-font: "Grandstander", cursive;
    --default-font: "Short Stack", cursive;

    --background-color: blanchedalmond;
    --primary-color: #da8528;
    --secondary-color: #3a230a;
    --accent-color: floralwhite;
}

.App {
    margin: 70px auto;
    text-align: center;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.2em;
}

h3,
button,
p {
    font-family: var(--default-font);
}

span {
    font-family: var(--heading-font);
}

button {
    font-size: 1.2em;
    padding: 12px 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 35px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: all 200ms ease-in-out;
}

button:hover {
    background-color: chocolate;
    color: var(--accent-color);
    border: 1px solid var(--secondary-color);
}

.PickASide section {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    font-family: var(--default-font);
    color: var(--secondary-color);
    margin-bottom: 30px;
}

.PickASide button {
    width: 140px;
    text-align: center;
}

.CoinFlip {
    padding: 90px 100px;
}

.Restart {
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    width: 500px;
    text-align: center;
}

.ScoreBoard {
    display: flex;
    margin: 0 auto;
    padding: 0 35px;
    width: 500px;
    justify-content: space-between;
    border-radius: 35px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-family: var(--default-font);
}

.ScoreBoard h3 {
    font-size: 1.5em;
}

.ScoreBoard p {
    font-size: 2em;
}

.Outcome summary {
    font-family: var(--heading-font);
    font-size: 2em;
    color: var(--secondary-color);
    margin-top: 30px;
}

#coin {
    visibility: visible;
    padding: 90px 100px;
    border-radius: 50%;
    background-image: url("./pictures/breakfast.jpg");
    background-size: cover;
}

#restartButton {
    padding: 15px;
    width: 70px;
    text-align: center;
}