html body {
    background-color: blanchedalmond;
}

.container {
    margin: 100px auto;
    text-align: center;
}

h1, h2 {
    font-family: "Grandstander", cursive;
    color: #3a230a;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-family: "Short Stack", cursive;
}

span, button {
    font-family: "Short Stack", cursive;
}

button {
    font-size: 1.2em;
    padding: 12px 20px;
    border: 1px solid #3a230a;
    border-radius: 35px;
    background-color: #da8528;
    color: #3a230a;
    transition: all 200ms ease-in-out;
}

button:hover {
    background-color: chocolate;
    color: floralwhite;
    border: 1px solid #3a230a;
}

.choiceHolder {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    font-family: "Short Stack", cursive;
    color: #3a230a;
    margin-bottom: 30px;
}

.choiceButton {
    width: 140px;
    text-align: center;
}

.coinHolder {
    padding: 90px 100px;
}

.restartHolder {
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    width: 500px;
    text-align: center;
}

.scoreBoard {
    display: flex;
    margin: 0 auto;
    width: 500px;
    justify-content: space-between;
    color: #3a230a;
}

.scoreBoard h3 {
    font-size: 1.5em;
}

.scoreBoard p {
    font-size: 2em;
}

#coin {
    visibility: visible;
    padding: 90px 100px;
    border-radius: 50%;
    background-image: url("./pictures/breakfast.jpg");
    background-size: cover;
}

#flip, #restart {
    width: 135px;
    text-align: center;
}

/*
font-family: "Grandstander", cursive;
font-family: "Mali", cursive;
font-family: "Short Stack", cursive;
font-family: "Syncopate", sans-serif;  NO
font-family: "Itim", cursive;
font-family: "Bungee", sans-serif; NO
font-family: "Gloria Hallelujah", cursive;
font-family: "Titan One", sans-serif;
*/