html body {
    background-color: blanchedalmond;
}

.container {
    margin: 100px auto;
    text-align: center;
}

h1, h2 {
    font-family: "Grandstander", cursive;
    color: #3a230a;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.2em;
    margin-bottom: 130px;
}

span, button {
    font-family: "Short Stack", cursive;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    border: 1px solid #3a230a;
    border-radius: 5px;
    background-color: #da8528;
    color: #3a230a;
    transition: all 200ms ease-in-out;
}

button:hover {
    background-color: chocolate;
    color: floralwhite;
    border: 1px solid #3a230a;
}

.coinHolder {
    /* display: block; */
    margin: 30px;
}

.buttonHolder {
    margin: auto;
    margin-top: 140px;
    display: flex;
    justify-content: space-around;
}

#coin {
    visibility: visible;
    padding: 90px 100px;
    /* border: 1px solid black; */
    border-radius: 50%;
    background-image: url("./pictures/breakfast.jpg");
    background-size: cover;
    /* background-color: chocolate; */
}

/*
font-family: "Grandstander", cursive;
font-family: "Mali", cursive;
font-family: "Short Stack", cursive;
font-family: "Syncopate", sans-serif;  NO
font-family: "Itim", cursive;
font-family: "Bungee", sans-serif; NO
font-family: "Gloria Hallelujah", cursive;
font-family: "Titan One", sans-serif;
*/