#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 75px;
  line-height: 1.1;
}

.Weather input {
  padding: 10px 20px;
}

.Weather #searchBar {
  width: 350px;
}

@media (max-width: 450px) {
  h1 {
    font-size: 25px;
  }

  .Weather form {
    width: 100%;
  }

  .Weather input {
    padding: 10px 8px;
  }

  .Weather #searchBar {
    width: 100px;
  }

  .Weather #submit {
    width: 40px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
  
  .Weather #searchBar {
    width: 250px;
  }
}