html body {
    background-color: #D6E4F0;
}

.container-fluid {
    margin: 20px auto;
    max-width: 1300px;
    color: #0A1338;
}

img {
    width: 300px;
}

form {
    padding: 20px;
    border: dashed #0A1338 1px;
    margin: 20px 0px;
    width: 400px;
}

label {
    margin: 8px 0px;
}

footer a {
    color: #1B3973;
}

footer a:hover {
    color: #E5861B;
    transition: all 200ms ease-in-out;
}