:root {
    --heading-font: "Rubik", sans-serif;
    --secondary-font: "Red Hat Display", sans-serif;
    --accent-font: "Poppins", sans-serif;
    --default-font: "Nunito", sans-serif;

    --background-color: #D6E4F0;
    --primary-color: #1B3973;
    --secondary-color: #0A1338;
    --accent-color: #E5861B;
}

html body {
    background-color: var(--background-color);
}

.containerAllContent {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    column-gap: 8px;
    row-gap: 10px;
    margin: 20px auto;
    max-width: 1600px;
    color: #0A1338;
    font-family: var(--default-font);
}

header {
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    column-gap: 40px;
}

h1, h2 {
    font-family: var(--heading-font);
}

h4, h5, h6 {
    font-family: var(--secondary-font);
}

h1 {
    font-size: 50px;
}

h3 {
    font-family: var(--accent-font);
    letter-spacing: 2px;
}

img {
    border-radius: 10px;
}

form {
    padding: 20px;
    border: dashed var(--secondary-color) 1px;
    margin: 20px 0px;
    width: 100%;
}

label {
    margin: 8px 0px;
}

input {
    border: 1px solid var(--secondary-color);
    width: 100%;
}

button {
    background-color: var(--secondary-color);
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

footer {
    grid-row: 4 / 5;
}

footer a {
    color: var(--primary-color);
    font-family: "Nunito", sans-serif;
}

footer a:hover {
    color: var(--accent-color);
    transition: all 200ms ease-in-out;
}

.aboutMe {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.codingExp, .workExp {
    margin-left: 40px;
}

.codingExp {
    grid-row: 1 / 3;
}

.expTitle {
    margin-bottom: 20px;
}

.project {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 2em;
    row-gap: 1em;
}

.projectPic {
    width: 100%;
}

.companyAndDates {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.contactForm {
    grid-row: 3 / 4;
}

#profilePic {
    width: 100%;
}

@media (max-width: 767px) {
    .nameAndTitle {
        text-align: start;
        margin-left: 0px;
    }

    .project {
        display: block;
    }

    .projectPic {
        width: 60%;
    }

    #profilePic {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    header {
        text-align: center;
    }

    .containerAllContent {
        display: block;
    }

    .nameAndTitle {
        text-align: start;
        margin-left: 60px;
    }

    .codingExp,
    .workExp {
        margin-left: 0px;
    }

    #profilePic {
        width: 40%;
    }
}

/* 
font-family: "Aclonica", sans-serif;
font-family: "Julius Sans One", sans-serif;
font-family: "Michroma", sans-serif;
font-family: "Poiret One", sans-serif;
font-family: "Fugaz One", sans-serif;                                       i like for h1, h2
font-family: "Audiowide", sans-serif;
font-family: "Rubik", sans-serif;           // font-weight: 300-900         i also like
font-family: "Silkscreen", sans-serif;      // font-weight: 400, 700
font-family: "Nunito", sans-serif;          // font-weight: 200-1000
font-family: "Raleway", sans-serif;         // font-weight: 100-900
font-family: "Poppins", sans-serif;         // font-weight: 100-900 // font-style: normal, italic       i like
font-family: "Montserrat", sans-serif;      // font-weight: 100-900

font-family: "Azeret Mono", monospace;      // font-weight: 100-900
font-family: "Saira", sans-serif;           // font-weight: 100-900
font-family: "Russo One", sans-serif;       // font-weight: 400             maybe project & contact info
font-family: "Rowdies", sans-serif;         // font-weight: 300, 400, 700   maybe with letter-spacing
font-family: "Play", sans-serif;            // font-weight: 400, 700
font-family: "Comfortaa", sans-serif;       // font-weight: 300-700         maybe exp & other titles
font-family: "Red Hat Display", sans-serif; // font-weight: 300-900         maybe
font-family: "Chakra Petch", sans-serif;    // font-weight: 300-700 // font-style: normal, italic
*/